*
{
    margin: 0;padding: 0;
}

.pagebody
{
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);

    width: 100vw;
    /* height: 150vh; */

    display: flex ;
    align-items: center;
    /* justify-content: center; */

    flex-direction: column;

}

.formbody
{   
    box-shadow: rgba(156, 38, 235, 0.603) 0px 0px 0px 3px;

    background-image: linear-gradient(to right, #434343 0%, black 100%);

    color: whitesmoke;
    margin-top: 2vh;
    height: 50vh;
    width: 50vw;
    /* border: 2px solid red ; */

    display: flex;

    justify-content: center;
    align-items: center;

}

.formgroup1
{
    /* border: 2px solid red ; */
}
.formgroup2
{
    margin-top: 5vh;;
    /* border: 2px solid red ; */
}

.submitButton
{   
    margin-top: 1vh;
    background-color: skyblue;
}

.titletext
{   
    
    font-size: 4vh;;
}
.tasktitle
{
    /* border: 2px solid red ; */
    height: 4vh;
    font-size: 3vh;
    width: 30vw;
}

.descptitle
{

}

.tasklistbody
{
    /* height: 50vh; */
    width: 80vw;
    /* border: 2px solid red; */
    margin-top: 3vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.heading
{
    margin: 2vh 0;
}